.section-2 {
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 34px;
    width: 220px;
    height: 350px;
    background-color: #F8F8F8;

    @media screen and (min-width: $bp-tablet) {
      width: 417px;
      height: 630px;
      margin-bottom: 67px;
    }
  }
  
  &__img-sw12 {
    box-sizing: border-box;
    width: 184px;
    height: 264px;

    @media screen and (min-width: $bp-tablet) {
      width: 500px;
      height: 500px;
    }
  }
  
  &__title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      font-size: 32px;
      margin-bottom: 17px;
    }
  }
  
  &__description {
    margin: auto;
    margin-bottom: 59px;
    text-align: center;
    width: 300px;
    height: auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;

    @media screen and (min-width: $bp-tablet) {
      font-size: 32px;
      margin-bottom: 85px;
      width: 531px;
    }
  }
}
